.staff {
  @include clearfix;
  .staff-member {
    padding: 1em 0;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      float: left;
      width: 33%;
      &:nth-child(4n+1) {
         padding: 0 1em 1em 0;
      }
      &:nth-child(4n+2) {
         padding: 0 .5em 1em .5em;
      }
      &:nth-child(4n+3) {
         padding: 0 0 1em 1em;
      }
    }
  }
}